@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f6f8fd;
  margin: 30px 40px;
  font-family: "Poppins", sans-serif;
}

.cardPlaylist {
  width: 250px;
  border-radius: 8px;
  border: 2px solid #b7cadb;
  padding: 14px;
  background-color: white;
  margin-top: 30px;
}

.cardPlaylist img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cardPlaylist h3 {
  font-weight: 600;
}

.btnSelect {
  width: 100%;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  background-color: #5b7db1;
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 10px;
}
