@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #121212;
  padding: 10px 20px 20px;
}

* {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

hr {
  border: 1px solid #575757;
  margin: 30px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Form */
.form input,
textarea {
  border-radius: 5px;
  border: 1px solid #575757;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #333333;
}

/* Button */
.btn {
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: #1DB954;
}

.btn-secondary {
  background-color: #ffffff;
  color: #000;
  font-weight: 500;
}

.btn-text {
  color: #B5B5B5;
  background-color: transparent;
  padding: 0;
  margin: 12px 0;
}

/* Form Create Playlist */
.form-playlist h3 {
  font-weight: 600;
}

.form-playlist .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.form-playlist .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-playlist textarea {
  resize: none;
  height: 80px;
}

/* Search Playlist */
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.search-wrapper .form .form-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.search-wrapper input {
  width: 100%;
}

/* Card Track Playlist */
.track-list {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  margin: 20px 0;
}

.card-playlist {
  width: 200px;
  border-radius: 8px;
  padding: 14px;
  background-color: #201F1F;
}

.card-playlist:hover {
  transition: all 0.1s ease-out; 
  background-color: #282828;
}

.card-playlist .card-info {
  display: flex;
  flex-direction: column;
}

.card-playlist img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 12px 0;
}

.card-playlist .card-info p {
  font-size: 14px;
  color: #B5B5B5;
  margin: 0;
}

.btn-select {
  width: 100%;
  margin-top: 20px;
}
